<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}" />

    <!-- Favicon! -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='favicon/site.webmanifest') }}">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="/static/css/main.css" type="text/css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" type="text/css" />
</head>

<body class="bg-zinc-900">
    <section class="bg-zinc-800 max-w-screen-xxxl">
        <h1 class="px-3 py-1 mx-2 text-3xl text-stone-200 font-bold flex justify-center">Gigsgo.at</h1>
        <p class="px-3 py-1 mx-2 text-emerald-500 font-bold flex justify-center">Live music listings.</p>
    </section>
    {% block content %}
    {% endblock %}
</body>

</html>